{% extends 'base.html.twig' %}

{% block title %}Mentions légales -{{ parent() }}{% endblock %}

{% block body %}

<h1 class="text-center"> Mentions legales </h1>

<div class="container">

<p class="m-lg-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam aliquam sodales. Suspendisse vitae ante ornare, consectetur orci nec, tempus risus. Proin quis porttitor est. Curabitur aliquam viverra massa, ac facilisis sem pellentesque ut. Etiam ex lorem, scelerisque eu lorem lobortis, fringilla tempor purus. Phasellus sapien nulla, scelerisque vel ante ut, finibus interdum est. Morbi non consequat quam. Sed urna enim, semper non est quis, consectetur facilisis risus. Aliquam porta nec diam a semper. Donec felis quam, laoreet non mattis et, aliquam ut lacus. Suspendisse finibus eleifend magna sed condimentum. Aliquam id consectetur turpis. Duis eros orci, tempor eu malesuada in, consequat gravida eros. Duis imperdiet, lectus vel blandit malesuada, lacus nisl tristique mi, id tempor diam risus nec velit.</p>

<p class="m-lg-5">Sed non dolor id nibh bibendum placerat. Sed suscipit mi dui, quis scelerisque quam dignissim at. Maecenas non mollis elit. Fusce ornare risus vel ante semper gravida. Vivamus in ante tortor. Vestibulum blandit ullamcorper sem, eget feugiat ex placerat luctus. Nam facilisis lacus justo, ut dignissim neque mattis vel. Proin ultricies rutrum consectetur.</p>

<p class="m-lg-5">Nunc vehicula sagittis massa ut condimentum. Praesent eget massa nisi. Mauris condimentum arcu non velit congue varius sit amet in nulla. Morbi in arcu justo. Donec ac iaculis nulla. Cras eget convallis lorem, vel imperdiet tortor. Sed ullamcorper sem finibus venenatis aliquam. Curabitur eu nulla ligula. Proin eget imperdiet lectus. Ut lobortis euismod nisl ac tempus. Quisque sodales maximus arcu, ac porttitor velit volutpat ac. Vestibulum a urna tincidunt lorem dictum tincidunt. Vestibulum eget elit elit. Suspendisse aliquam dignissim sapien vitae pretium.</p>

<p class="m-lg-5">Nullam euismod posuere sodales. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin rutrum libero at diam convallis, sit amet suscipit tortor dictum. Etiam id lacinia dolor. Fusce ac mollis sapien. Cras in lorem ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam lacinia velit vitae neque cursus finibus. Nulla dignissim commodo arcu vel laoreet.</p>

<p class="m-lg-5">Curabitur euismod euismod lacus sodales pellentesque. Duis diam erat, ultrices ut lacus non, sodales sollicitudin est. Proin fringilla pretium tempus. Curabitur nec nisi placerat, viverra nisl id, lobortis augue. Donec tempor sit amet ex congue sagittis. Vivamus non ultrices quam. Praesent diam dui, sagittis iaculis ante at, cursus malesuada orci.

</p>

</div>

{% endblock %}