/* ------------ TITLE STYLE ------------ */
h1 {
    position: absolute;
    top: -500px;
}

h2 {
    font-family: "LT Emphasis Bold", sans-serif;
    color: var(--blue);
    font-size: 60px;
}

h3 {
    font-family: "Sansation Regular", sans-serif;
    color: var(--darkGrey);
    font-size: 22px;
}

h4 {
    font-family: "Sansation Regular", sans-serif;
    color: var(--darkGrey);
    font-size: 18px;
}

/* ------------ TEXT STYLE ------------ */
.grey {
    color: var(--grey);
}

.container {
    max-width: 1140px;
}


/* ------------ CONCEPT ------------ */
.concept .container {
    padding: 3em 0;
}

.title {
    margin-top: 3em;
    margin-bottom: 4em;
}

hr {
    width: 13em;
    margin: 4em auto 2.5em auto;
    color: var(--grey);
    border: transparent;
}

hr:not([size]) {
    height: 3px;
}

.picto {
    position: relative;
    display: inline-block;
}

.process {
    background-color: var(--blue);
    width: 1.6em;
    height: 1.6em;
    color: #fff;
    border-radius: 50%;
    font-family: "LT Emphasis Bold", sans-serif;
    font-size: 2.4em;
    position : absolute;
    bottom: -20px;
    left: -30px;
}

/* ------------ PRODUCTS ------------ */
.products {
    background-color: var(--lightGrey);
}

.margin-cards {
    margin-right: 1em;
    margin-left: 1em;
    width: 20em;
}

.product-card{
    border-radius: 15px;
}
.product-img{
    border-radius: 15px 0;
}

.products .fa-map-marker-alt {
    font-size: 16px;
    padding: 0 0.3em 0 0;
}

.blue {
    color: var(--blue);
}





