body{
   background-color:var(--lightGrey) ;
}
/* page list */
.background-white{
    background-color:white ;
}

.product-card .fa-map-marker-alt{
   padding: 0px;
}

.product-card img{
   height: 200px;
   background-position: center;
   background-size: cover;
}

.margin-cards {
   margin-right: 1em;
   margin-left: 1em;
   width: 20em;
}

.product-card{
    border-radius: 15px  ;
}
.product-img{
    border-radius: 15px 15px 0 0;
}

/* page display product */
.display-product {
   width: 50%; 
}

/*form ajout produit */
.form-product{
   border: 1px solid var(-darkGrey);
   border-radius: 15px ;
   color: var(--blue);
}

.form-product li{
   color: red;
   
}

.form-product ul{
   margin:none;
}

.form-img{
   max-width: 15%;
}
/* couleurs */
.blue{
    color: var(--blue);
 }
 
 .bold{
    font-weight: bold;
 }
 
 .orange{
    color: var(--orange);
 }
 
 .grey{
    color: var(--grey);
 }
 
 .lightGrey{
    color: var(--lightGrey);
 }
 
 .darkGrey{
    color: var(--darkGrey);
 }
 