body{
   background-color:var(--lightGrey) ;
}
/* page list */
.background-white{
   background-color:white ;
}

.products {
   background-color: var(--lightGrey);
}

.search p{
   margin-left: 1em;
}

.margin-cards {
   margin-right: 1em;
   margin-left: 1em;
   width: 20em;
}

.product-card{
   border-radius: 15px;
}
.product-img{
   height: 200px;
   object-fit: cover;
}

.products figure {
   height: 100px;
}

.product-card .fa-map-marker-alt {
   font-size: 16px;
   padding: 0;
}

.blue {
   color: var(--blue);
}

.card hr {
   width: initial;
   height: 1px;
   margin: 1em auto;
}

.card hr:not([size]) {
   height: 1px;
}

.baseligne{
   align-items: baseline;
}

.form-error-icon{
   display: none;
}

/*form ajout produit */
.form-product{
   border: 1px solid var(-darkGrey);
   border-radius: 15px ;
   color: var(--blue);
}


/* couleurs */
.blue{
    color: var(--blue);
 }
 
 .bold{
    font-weight: bold;
 }
 
 .orange{
    color: var(--orange);
 }
 
 .grey{
    color: var(--grey);
 }
 
 .lightGrey{
    color: var(--lightGrey);
 }



 .darkGrey{
    color: var(--darkGrey);
 }



/* Responsive **/

 @media (max-width: 1200px){
   .nav-wrap {
       flex-wrap: wrap;
       
   }

 h1{
      font-size: 40px;
      margin-top: none!important;
   }

 h2{
      font-size: 15px;
      
   }

   
}

@media (max-width: 768px){

.search{
   flex-direction: column;
}

}