/* ------------ GLOBAL STYLE PAGE ------------ */
.container {
    max-width: 1140px;
}

hr {
    margin: 1rem auto;
    width: 90%;
}

/* ------------ PROFILE ------------ */
.profile {
    background-color: var(--lightGrey);
    min-height: 700px;
}

.profile .card-body {
    padding: 2em;
}

.profile .product-img{
    border-radius: 15px 0 0 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile figure {
    height: 230px;
}

.profile .navbar {
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,.125);
}

.profile .navbar-nav {
    width: 100%;
}

.profile .navbar-nav a {
    font-size: 20px;
    text-align: left;
}

.profile .navbar-nav a:not(.active):hover {
    color: var(--darkGrey) !important;
}

.profile .nav-link.active {
    background-color: transparent;
    color: var(--blue) !important;
}

.avatar {
    border-radius: 50%;
}

.username {
    font-size: 22px;
}

.profile .card a {
    text-decoration: underline;
}

/* ------------ PRODUCTS ------------ */
.product-profil .card-body {
    padding: 1rem 1rem 0 0;
}

.product-profil .fa-map-marker-alt {
    padding: 0 0.4em 0 0;
    font-size: 16px;
}