/* ------------ GLOBAL STYLE PAGE ------------ */
.container {
    max-width: 1140px;
}

hr {
    margin: 1rem auto;
    width: 90%;
}

.profile .btn-action {
    font-size: 18px;
}

/* ------------ NAV ------------ */
.profile .navbar {
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,.125);
}

.profile .navbar-nav {
    width: 100%;
}

.profile .navbar-nav a {
    font-size: 18px;
    text-align: left;
    border-radius: initial;
}

.row-col .col:first-child {
    border-right: 3px solid rgba(0,0,0,.125);
}

.row-col .col {
    flex: initial;
}

.profile .min-nav {
    width: 285px;
    margin: 0 auto;
}

.profile .navbar-nav a:not(.active):hover {
    color: var(--darkGrey) !important;
}

.profile .nav-link.active {
    background-color: transparent;
    color: var(--blue) !important;
}

.navbar hr {
    display: none;
}

/* ------------ PROFILE ------------ */
.profile {
    background-color: var(--lightGrey);
    min-height: 700px;
}

.avatar {
    border-radius: 50%;
}

.username {
    font-size: 22px;
    margin-left: 1em;
}

.profile .card a {
    text-decoration: underline;
}

.product-profile .card-body {
    padding: 2rem;
}


/* ------------ PRODUCTS ------------ */
.product-product .card-body {
    padding: 1rem;
}

.product-product .fa-map-marker-alt {
    padding: 0 0.4em 0 0;
    font-size: 16px;
}

.profile .product-img{
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile figure {
    height: 100%;
}

.profile .card-title {
    font-size: 18px;
}

/* ------------ RESPONSIVE ------------ */

@media (min-width: 576px) {

    /* PRODUCTS */
    .profile .product-img{
        border-radius: 15px 0 0 15px;
    }
    
}

@media (min-width: 768px) {

    /* PRODUCTS */
    .row-col {
        flex-direction: column;
    }

    .navbar hr {
        display: block;
        margin: 0.5rem auto;
    }

    .row-col .col:first-child {
        border-right: inherit;
    }

    .row-col .col {
        flex: 1 0 0%;
    }

    .profile .min-nav {
        width: 100%;
    }
    
}