:root {
    --blue: #22af9d !important;
    --blueGreen: #3cc899 !important;
    --orange: #ff9600 !important;
    --darkGrey: #4d4d4d !important;
    --grey: #989898 !important;
    --lightGrey: #f1f1f1 !important;
}


/* RESET */
ul {
    list-style: none;
    padding-inline-start: 0;

}

a, a:hover {
    text-decoration: none;
}

figure {
    margin: 0;
}

/* FONT STYLE */
@font-face {
    font-family: "LT Emphasis Bold";
    src: url('../font/LT-Emphasis-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Sansation Bold";
    src: url('../font/Sansation_Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Sansation Regular";
    src: url('../font/Sansation_Regular.ttf') format('truetype');
}

/* TEXT STYLE */
.uppercase {
    text-transform: uppercase;
}

a {
    color: var(--orange);
}

a:hover {
    color: var(--orange);
}

.link, .link:hover {
    text-decoration: underline;
}

/* TITLE STYLE */
h1 {
    font-family: "LT Emphasis Bold", sans-serif;
    color: var(--blue);
    font-size: 4em;
}

h2 {
    font-family: "Sansation Regular", sans-serif;
    color: var(--darkGrey);
    font-size: 1.4em;
}

h3 {
    font-family: "Sansation Regular", sans-serif;
    color: var(--darkGrey);
    font-size: 18px;
}

/* BUTTON STYLE */
.btn {
    font-family: "Sansation Bold", sans-serif;
    border-radius: 8px;
    padding: 0.4em 1.2em;
}

.btn-primary {
    font-size: 25px;
    color: #fff;
    background-color: var(--blue);
    border: 3px solid var(--blue);
}

.btn-primary:hover {
    color: var(--blueGreen);
    background-color: transparent;
    border: 3px solid var(--blueGreen);
}

.btn-secondary {
    font-size: 18px;
    color: var(--blue);
    background-color: transparent;
    border: 3px solid var(--blue);
}

.btn-secondary:hover {
    color: #fff;
    border: 3px solid var(--blueGreen);
    background-color: var(--blueGreen);
}

.btn-action {
    font-size: 25px;
    color: #fff;
    background-color: var(--orange);
    border: 3px solid var(--orange);
}

.btn-action:hover {
    color: var(--orange);
    background-color: transparent;
    border: 3px solid var(--orange);
}



/* GLOBAL STYLE */
body {
   font-family: "Sansation Regular", sans-serif;
   color: var(--darkGrey);
}

/* HEADER STYLE */

.navbar-nav a {
   font-size: 18px;
   color: var(--darkGrey)!important;
}

.navbar-nav a:hover {
   color: var(--orange) !important;
}


.text-btn-nav{
   font-size: 18px;
}

.form-bg{
   background: linear-gradient(90deg, rgba(60,200,153,1) 0%, rgba(34,175,157,1) 100%);
   box-shadow: inset 0px 2px 7px #4d4d4d  ;
}

.btn-nav{
   padding: 0em 1.2em;
}

.fa-map-marker-alt{
    font-size: 28px;
    color: var(--orange);
    padding: 0px 10px 20px 40px;;
}

.fa-user-circle{
    font-size: 24px;
    margin-right: 5px;
}


/*FOOTER STYLE*/

.footer-link{
    font-size: 18px;
    color: var(--darkgrey);
}

.footer-hr{
    width: 60em;
    margin: 1em auto 1em auto;
    color: var(--grey);
    border: transparent;
}

.cop-footer {
    font-size: 14px;
    color: var(--grey);
    margin-bottom: 1.5em;
}

.h4-footer{
    font-size: 22px;
    color: var(--blue);
    margin-bottom: 0.8em;
}

/*SHARE COMPONENT STYLE*/
.bg-green {
    background: linear-gradient(90deg, rgba(60,200,153,1) 0%, rgba(34,175,157,1) 100%);
}

.text-share{
    color: var(--lightGrey);
}

.img-share{
    width:30%;
    margin: 30px auto 10px auto;
}
.text-grey{
    color:var(--grey);
    font-size:14px;
    margin: 30px auto;
}

.widht-desk{
width:20em;
}
.fa-external-link-alt{
    color:var(--grey);
    font-size: 10px;
    position: relative;
    top: -24px; left: -5px;
}
/*FORM REGISTER STYLE*/
.label-color {
    color: var(--blueGreen);
}


@media all and (max-width: 425px){
     .responsive{
        text-align:center;
        display:flex;
        flex-direction:column;
     }

     .align-center{
        align-items: center;
     }

     .fa-map-marker-alt {
        padding-left: 0px;
     }
     .btn-search{
         padding: 0.3em;
     }
     
     .footer-hr{
         width: 13em;
     }
     .widht-card{
         width: 14em;
     }
     .body-pad{
        padding: 0.8rem!important;
     }
     .title-form{
         font-size: 26px;
        }

     .fa-external-link-alt{
         position: relative;
         top: -55px;
         left: 34px; 
         }
        
}

@media (max-width: 1200px){
.nav-wrap {
    flex-wrap: wrap;
    
}

//  .navbar>.container-fluid {
// justify-content: center;
//  }

}

