{% extends 'base.html.twig' %}

{% block title %}Les objets - {{ parent() }}{% endblock %}


{% block stylesheets %}
{{ encore_entry_link_tags('page_product-display') }}
{% endblock %}

{% block body %}

<div class="container-fluid background">
    <section class="text-center">
        <span class="uppercase">Meuble-Literie</span>
        <hr>
        <h1>Coffre banquette</h1>
        <h2>à récupérer sur Lille (59000)</h2>
        <div class="row">
            <div class="col-lg-6">
                <article>
                    <div class="d-flex justify-content-center">
                        <div class="card product-card margin-cards">
                            <img src="#" class="card-img-top product-img" alt="...">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h4 class="card-title bold">Coffre banquette</h4>
                                    <p class="blue bold">Bon état</p>   
                                </div>
                                <p class="card-text"><i class="fas fa-map-marker-alt orange"></i>Lille (59000)</p>
                                <p class="card-text grey bold">Posté le 21 fev à 16:05</p>
                                <hr>
                                <div class="text-center">
                                    <a href="#" class="btn btn-secondary">Voir l'objet en détail</a>   
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>

    </section>

</div>



{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('page_product-display') }}
{% endblock %}