<header>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">

		<div
			class="container-fluid">

			{# logo #}
			<a class="navbar-brand" href="{{path('main_home')}}">
				<img src="{{ assets('images/logo.png')}}" alt="logo de la recyclotte">
			</a>

			{# toggle #}
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Liste des objets</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Donner un objet</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Le concept</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	{# formulaire de recherche #}
	<form class="d-flex">
		<input class="form-control me-2" type="search" placeholder="ex : Fauteuil" aria-label="Search">
		<button class="btn btn-outline-success" type="submit">Je cherche cet objet</button>
	</form>

</header>
