<nav class="navbar nav-pills nav-fill">
    <ul class="navbar-nav p-1">
        <div class="d-flex row-col">
            <div class="col">
                <li class="nav-item">
                    <a class="nav-link px-3" href="{{ path('user_account_profile')}}">Mon profil</a>
                </li>
            </div>
            <hr>
            <div class="col">
                <li class="nav-item px-3">
                    <a class="nav-link" href="{{ path('user_account_myproducts')}}">Mes annonces</a>
                </li>
            </div>
        </div>
    </ul>
</nav>
