<!-- Start HEADER -->
{% include "mail/components/header.html.twig" %}
<!-- End HEADER-->


<!-- Start BLOC-->
{% include "mail/components/start-bloc.html.twig" %}

    <!-- ///////////// Start CONTENT ///////////// -->
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla malesuada elementum lorem quis ultrices. Vivamus at mauris vitae nunc euismod bibendum vitae in sapien. Sed arcu nisl, lacinia et mollis id, scelerisque fermentum purus. Nullam hendrerit efficitur malesuada. Quisque faucibus feugiat tellus quis dignissim.</p>
    <!-- ///////////// End CONTENT ///////////// -->

{% include "mail/components/end-bloc.html.twig" %}
<!-- End BLOC -->

<!-- Start HEADER -->
{% include "mail/components/footer.html.twig" %}
<!-- End HEADER-->