
{% include "mail/components/header.html.twig" %}


{% include "mail/components/start-bloc.html.twig" %}

<h1>Réinitialisation du mot de passe</h1>

<p>
    Bonjour {{ user.username }}, <br><br>
    Veuillez cliquer <a href="{{ absolute_url( path('user_reset_confirm', {token: user.token}) ) }}"> ici </a>  pour reinitialiser votre mot de passe
    <br>

    Merci et à bientôt sur la Recyclotte !
</p>
<<<<<<< HEAD
=======

{% include "mail/components/end-bloc.html.twig" %}

{% include "mail/components/footer.html.twig" %}
>>>>>>> master
