{% extends 'base.html.twig' %}

{% block title %}Connexion -
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center title-form my-3">Connectez-vous à votre compte</h1>
		<div class="d-flex col-lg-4 col-sm-6 mx-auto justify-content-center">
			<div class="container mb-5 form-control">
				<form  method="post">
					<label for="email" class="form-label label-color">E-mail</label>
					<input type="email" name="_email" placeholder="Veuillez saisir votre E-mail" class="form-control my-2">
					<label for="password" class="form-label label-color">Mot de passe</label>
					<input type="password" name="_password" placeholder="Veuillez saisir votre mot de passe" class="form-control my-2">

                    <div class="row d-flex justify-content-center">
					<button type="submit" class="btn btn-action col-6 my-2 p-0">Connexion</button>
                    </div>
				</form>

			</div>
		</div>
	{% endblock %}
