{% extends 'base.html.twig' %}

{% block title %}Connexion -
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center title-form my-3">Connectez-vous à votre compte</h1>

		<div class="d-flex col-lg-4 col-sm-6 mx-auto justify-content-center">

			<div class="container mb-5 form-control">

				<form method="post" action="{{path('user_login')}}">
					<label for="email" class="form-label label-color mb-0">E-mail</label>
					<input class="form-control mb-3" type="email" name="_username" placeholder="Veuillez saisir votre E-mail" value="{{ lastEmail }}">

					<label for="password" class="form-label label-color mb-0">Mot de passe</label>
					<input class="form-control mb-3" type="password" name="_password" placeholder="Veuillez saisir votre mot de passe">

					<div class="row d-flex justify-content-center">
						<button type="submit" class="btn btn-action col-6 my-2 p-0">Connexion</button>
					</div>

					<div class="link text-center my-2">
					<a class="link" href="{{path('user_reset_ask')}}">Je ne me souviens plus de mon mot de passe</a>
					</div>
			
				</form>

			</div>
		</div>
	{% endblock %}
