{% extends 'base.html.twig' %}

{% block title %}Connexion - {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center my-3">Connectez-vous à votre compte</h1>

<div class="row">
    <form class="col-6 me-auto" method="post">
        <input type="email" name="_email" placeholder="E-mail" class="form-control my-4">
        <input type="password" name="_password" placeholder="Mot de passe" class="form-control my-4">
        <button type="submit" class="btn btn-action mb-4">Connexion</button>
    </form>
</div>
</div>
{% endblock %}
