{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
    <h1>Mot de passe oublié</h1>

    {% if message %}
        <p>
            {{ message }}
        </p>
    {% else %}
        <form method="post">
            <label class="label-color" for="emailField">E-mail</label>
            <input type="email" name="email" placeholder="Veuillez saisir votre adresse e-mail" id="emailField" class="form-control my-4">
            <button type="submit" class="btn btn-action mb-4">Réinitialiser mon mot de passe</button>
        </form>
    {% endif %}
</div>
{% endblock %}
